*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    scroll-behavior: smooth;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: #081C29;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 40px;
    padding: 20px 0;
}
header a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
header a span{
    color: cyan;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a:hover{
    color: aqua;
    text-shadow: 0px 0px 20px aqua;
}
.firstsection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 95vh;
}
.firstsection div{
    width: 35%;
}
.image{
    width: 90%;
    height: 300px;
    border-radius: 30%;
    border: 2px solid aqua;
    box-shadow: 0px 0px 15px aqua;
    object-fit: cover;
}
.firstsection .left h3,h1{
    margin-bottom: 3px;
}
.firstsection .left h3{
    font-size: 15px;
    font-weight: 400;
}
.firstsection .left h3 span{
    color: cyan;
}
.firstsection .left h1{
    color: aqua;
    font-size: 30px;
    font-weight: 800;
}
.firstsection .left .icons i{
    border-radius: 50%;
    border: 1px solid aqua;
    padding: 5px 4px;
    font-size: 10px;
    font-weight: 500;
    margin: 10px 0px;
    margin-bottom: 15px;
    margin-right: 5px;
    color: aqua;
    transition: 0.3s;
    cursor: pointer;
}
.firstsection .left .icons i:hover{
    box-shadow: 0px 0px 5px cyan;
    font-size: 11px;
}
.firstsection .left a{
    color: #081C29;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    background-color: cyan;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 0px 10px cyan;
    transition: 0.15s;
}
.firstsection .left a:hover{
    box-shadow: 0px 0px 5px cyan;
}
.separation{
    height: 3px;
    width: 800px;
    margin: 30px auto;
    background-color: #103a55;
}
#about{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 80vh;
    margin-top: 80px;
}
#about div{
    width: 100%;
}
#about img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 100px;
}
#about .content{
    margin: 0px 40px;
}
#about span{
    color: cyan;
}
#about h4{
    margin: 15px 0;
    font-size: 18px;
}
#about p{
    font-size: 12px;
    margin-bottom: 25px;
}
#about a{
    color: #081C29;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    background-color: cyan;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 0px 10px cyan;
    transition: 0.15s;
}
#about a:hover{
    box-shadow: 0px 0px 5px cyan;
} 
#services h1{
    text-align: center;
    padding-bottom: 30px;
}
#services h1 span{
    color: cyan;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.container .divbox{
    border-radius: 20px;
    background: transparent;
    box-shadow: 0px 0px 10px rgb(31, 85, 156);
    padding: 30px;
    margin: 0 30px;
}
.container .divbox i{
    color: cyan;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.container .divbox h3{
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 550;
}
.container .divbox p{
    font-size: 10px;
}
.container .divbox:hover{
    transform: translateY(-20px);
    transition: 0.3s;
    box-shadow: 0px 0px 15px rgb(9, 46, 208);
}
#skills h2{
    text-align: center;
    margin-bottom: 25px;
}
#skills .heading{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
#skills .heading span{
    color: cyan;
}
#skills .underline{
    font-size: 15px;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: 700;
}
.all{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.all div li{
    list-style: none;
}
.all div{
    margin: 7px 0;
}
.all div li i{
    margin-bottom: 5px;
}
.all div li .bar{
    height: 20px;
    background-color: rgb(26, 24, 24);
    width: 400px;
    display: block;
    border-radius: 10px;
    margin-top: 2px;
    overflow: hidden;
}
.bar span{
    float: left;
    height: 20px;
    background: cyan;
}
.html{
    animation: html 1s forwards;
}
.css{
    width: 80%;
    animation: css 1s forwards;
}
.js{
    width: 85%;
    animation: js 1s forwards;
}
.python{
    width: 70%;
    animation: python 1s forwards;
}
.react{
    width: 75%;
    animation: react 1s forwards;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
#contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact div{
    width: 39%;
}
#contact .first h4{
    font-family: 20px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}
#contact .first h4 span{
    color: cyan;
}
#contact .first h5{
    font-size: 15px;
    font-family: 600;
    margin-bottom: 13px;
}
#contact .first p{
    font-size: 12px;
}
.contact-detail{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-detail i{
    color: cyan;
    padding-right: 8px;
    font-size: 13px;
}
#contact .first .icons2 i{
    color: cyan;
    border-radius: 50%;
    border: 1px solid cyan;
    font-size: 10px;
    padding: 4px;
    margin: 15px 5px 10px 0;
    transition: 0.15s;
    box-shadow: 0px 0px 7px cyan;
}
#contact .first .icons2 i:hover{
    box-shadow: 0px 0px 4px rgb(19, 74, 74);
    font-size: 12px;
}
.second input,textarea{
    background-color: #4F4F51;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 3px 8px;
    margin-bottom: 3px;
    width: 35vw;
    color: white;
}
.second button{
    background-color: cyan;
    padding: 0.5vw 16vw;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 550;
    box-shadow: 0px 0px 10px cyan;
    margin-top: 10px;
    transition: 0.12s;
}
.second button:hover{
    box-shadow: 0px 0px 5px cyan;
}
::placeholder{
    color: rgb(27, 14, 14);
}
.copyright{
    text-align: center;
    margin-top: 30px;
    color: grey;
}